body {
	background-color: #ffffff;
	font-family: "Palatino", serif;
	
}

.login-box {
	width: 360px;
	height: 300px;
	margin: 10% auto 0 auto;
	background-color: rgb(94, 91, 91);
	border-radius: 3px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); /* Safari support */
}

h1 {
	text-align: center;
	padding-top: 15px;
	color: #fdfdfd;
}

h4 {
	text-align: center;
}

form {
	color: #f1eeee;

	width: 300px;
	margin-left: 20px;
}

form label {
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}

form input {
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid rgb(54, 52, 52);
	border-radius: 6px;
	outline: none;
}

input[type="button"] {
	width: 100px;
	height: 35px;
	margin-top: 20px;
	margin-left: 100px;
	border: none;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 18px;
}

p {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}

.para-2 {
	text-align: center;
	color: #f1eeee;
	font-size: 15px;
	margin-top: -10px;
}

.para-2 a {
	color:#000000;
}
