
.section {
    display: flex;
    margin: 20px 100px;
    height: 530px;
}

.column1 {
    background-color: #ffffff;
    flex-basis: 33%;
}

.column1 img {
    width: 450px;
    height: 400px;
    margin-bottom: 20px;
}

.column1 button {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    margin: 5px 95px;
    background-color: #ffffff;
    border: solid 1px #e8e7df;
    color: #000000;
    cursor: pointer;
}

.column1 button:hover{    
    background-color: #484848;
    color: #ffffff;
}
 
.column2 {
    background-color: #f2f49e;
    flex-basis: 67%;
    padding: 30px 50px;
    overflow-y: scroll;
}

.column2 h2 {
    margin-top: 0;
    color: #000000;
}

.column2 p {
    margin-bottom: 10px;
    color: #000000;
    font-size: 1.2rem;
}

h2{
    margin: 40px 0;
}

h3{
    margin-bottom: 10px;
    color: #000000;
    font-size: 1.1rem;
}

.column2 ul {
    margin-top: 0;
    padding-left: 20px;
    color: #000000;
}

.column2 ol {
    margin-top: 0;
    padding-left: 20px;
    color: #000000;
}

#description{
    color: #000000;
    font-size: 1rem;
}

.footer{
    margin: 20px 0 20px 0;
    text-align: center;
    color: #000000;
    font-size: 1rem;
} 