body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.categoryForm {
    margin-top: 50px;
}


form#categoryForm {
    margin-top: 50px;
}
h1 {
    text-align: center;
}

form {
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

input[type="button"] {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #d32f2f;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%; /* Adjust the width as needed */
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.navigation li a:hover {
    text-decoration: underline;
    background-color: #333;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between; /* Align links to the edges */
    width: 100%; /* Adjust the width as needed */
    height: 50px; /* Increase the height for better visibility */
    align-items: center; /* Vertically center the links */
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px; /* Adjust the font size */
    font-weight: bold; /* Add bold font weight */
}

.navigation li a:hover {
    text-decoration: underline;
    background-color: #333;
}

/* Add a border to separate the navigation bar from the content */
body {
    border-top: 5px solid #000;
    margin: 0;
    padding: 0;
}
