/*.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/header.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
*/
.bg-color {
    background-color: rgb(0, 0, 0);
}

.nav-item a{
	color: #000000;
	font-weight: bold;
}
.header ul li a:hover{
color: #ffb606;
}
/*fooooooooooooooooooooooterrrrrrrrrrrrrr*/
.section-padding {
    padding: 130px 0;
}
.footer-widget2 {
    background: #f9f9ff;
}
.footer-widget {
	/*background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/offer.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	width: 100%;
	height: auto;
    background:#000;/* #f9f9ff;*/
}
.single-widget a{
 font-size: 1.9rem;
 color: #000;
 text-align: center;
 font-weight: bold;
}
.single-widget p{
	font-size: 1rem;
	font-weight: 600;
	font-weight: 500;
	color: #f2f2f2;
}
.ftr_text h5{
	font-size: 30px !important;
	font-weight: bold;
	color: #f2f2f2;
	text-align: center;

}
.footer-widget .single-widget1 {
    padding-right: 30px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
i{
	color: #f2f2f2;
}
.header_text{
	background-color:  #000!important;
}
.d_flex{
	
	padding:  20px;
}
 .txt{
 	margin-left: 40px;
 	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #f2f2f2;


}
.txts{
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #f2f2f2;
}
.ftr-padding{
	padding:60px 0; 
}
.clearfix{
	padding-bottom: 20px;
}
.soc-text h4{
	font-size: 1.4rem !important;
	color:#ffb606;

}
.footer-icon ul{
 	 display: flex;
 	justify-content: center;
 	text-align: center;
	padding: 0px;
	margin-left: 0px;
    list-style-type: none;
    color: #fff;
 }
 .footer-icon ul li{

 	font-size: 20px;
	display: inline-block;
	margin-left: 10px;
}
.footer-icon ul li i:hover{
	color: #ffb606;
}
.footer-copyright2 {
    background: #f9f9ff;
    color: inherit;
}
.footer-copyright {
    padding: 30px 0;
    background: #0d0d27;
    color: #fff;
}
/*end of foooooooooooooooottttttttttttttteeeeeeeeeeerrrrrrrrr*/
/*contact forms*/

.tm-container-inner-2 {
    padding-left: 15px;
    padding-right: 15px;
}
.tm-contact-section {
    padding-bottom: 30px;
}
.tm-contact-form {
    max-width: 100%;
}
.tm-address-box {
    max-width: 100%;
}
.tm-info-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.tm-text-success {
    color: #ffb606;
}
address {
    font-style: normal;
    margin-bottom: 50px;
    color: #000;
    line-height: 1.8;
    text-transform: capitalize;
}
.tm-contact-link {
    display: inline-block;
    color: #626364;
    margin-bottom: 25px;
    text-decoration: none;
}
.tm-contact-link {
    display: inline-block;
    color: #626364;
    margin-bottom: 25px;
    text-decoration: none;
}
.tm-contact-icon {
    display: inline-block;
    margin-right: 25px;
    color: #ffb606;
}

.form-group {
    margin-bottom: 30px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626364;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tm-d-flex {
    display: flex;
    flex-direction: column;
}
.tm-btn-right {
    align-self: flex-end;
}
.tm-btn-success {
    background-color: #ffb606;
    color: white;
}
.tm-btn {
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
}
.logo_text{
	position: absolute;
	top: 0%;
	left: 0%;
	color: #000;
	font-weight: 500;
	margin: auto;
	font-size: 17px;
	padding-top: 25px;
font-size: auto;
	padding-left: 10px;
	text-decoration: none;
	font-size: auto;
	float: left;
	text-transform: uppercase;
}

/*display: inline-block;
	padding: 5px 20px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 20px;
	transition: background-color 0.2s, border 0.2s,color 0.2;*/

.btn-nav{
	background-color: transparent;
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	border-radius: 27px;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
	transform: all 0.5s ease-in-out;

}
.btn-nav:hover{
	background-color: #f4511e;

}

/*media query*/
h6{
	
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 15px;
}
.footer_span{
	color: #ffb606;
}

@media (max-width: 767.98px) and (min-width: 576px){
.banner-area {
    padding: 280px 0 200px;
}
}
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

/*contact page*/
.margin{
	margin:130px 0;
}
.contact_page{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/team.png);
	background-size: cover;
	background-position: center;
}
.map{
	margin: 100px 40px;
	display: inline-flex;
}
/*footer page*/
@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:   #ffb606;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 

 .img_wrappers .img_wrappers-text{
  	position: absolute;
	top: 0;
	left: 0;
	
	background:brown;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	transform:scale(0) rotate(-180deg);
	opacity: 0;
	transition: all 0.4s;
}
 .img_wrappers:hover .img_wrappers-text{
 	opacity: 1; 	
	transform:scale(1) rotate(0deg);
	transition-delay: 0.2s;

 }
/*aaaaaaaaaaaaaaaaaaa*/
.box-tm{
	width: 390px;
	
}
.box-team{
	position: relative;

}
.box-team{
	
	border-radius: 50%;
}
/*team page*/
.team_page{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/team.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*book table*/

.book_page{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/banner1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.span{
	color: #ffb606;
}

/*menu*/
.food_about,
.food_menu,
.food_footer {
  padding: 80px 0;
}
.menu {
  list-style-type: none;
}
.menu_item {
  display: flex;
  justify-content: space-between;
  color: #707070;
  line-height: 50px;
}
.menu_price {
  color: #689f38;
}
.food_menu_center{
	text-align: center;
	font-size: 50px;
}

/*about page*/
.about_page{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/about-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.menu_page{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/menu-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about-area{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/reservation-bg.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
z-index: 1;
height: 500px;
width: 100%;
max-width: 100%;
}
.margin_box{
	margin: 150px 0;
}
.about_text{
	color: #fff;
	text-align: center;

}
.about_text h1{
	font-size: 70px;
	font-weight: 500;
}
.about_text p{
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*.deshes-area .deshes-text{
	padding-left: 90px;

}
*/.deshes-area span{
	color: #ffb606;
}
.deshes-area h1{
color: #131230;
font-style: inherit;
position: relative;
}
.btn_book{
	display: inline-block;
	background-color: #f4511e;
	color: #fff;
	padding: 15px 30px;	
	font-size: 15px;
	text-decoration: none;
	justify-content: center;
	margin-top: 50px;
	letter-spacing: 2px;
	transition: all 0.4s;
	text-transform: uppercase;
	border-radius: 27px;

}
.btn_book:hover{
	background-color: transparent;
	color: #f4511e; 
	text-decoration: none;
	border: 1px solid #f4511e; 
	border-radius: 27px;
}

/*.food-area {
    background-image: url(../img/food-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}
*/.section-padding{
	padding: 130px 0;
}
.section-top3{
	margin-bottom: 80px;
	text-align: center;
}
h3{
	font-family: "Times New Roman"serif;
	color: #131230;
	font-size: 36px !important;
	font-weight: 700;
}
.section-top3 span{
	color: #ffb606;

}
.box{
	width: 100%;
	max-width: 100%;
	position: relative;
	perspective: 1000px;
} 
.box .box-img{
	transform: rotateY(0);
	transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-img{
	transform: rotateY(-90deg);
	
}
.box .box-img img{
	width: 100%;
	height: auto;
}
.box .box-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 60px 20px;
	box-sizing: border-box;  
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	transform: rotateY(90deg);
	transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-content{
	transform: rotateY(0);
 }
.box-content h3{
	color:#ffb606; 
}
.box-content p{
	text-align: center;
	font-weight: 500;
}
.btn_buy{
	display: inline-block;
	background-color: #ffb606;
	color: #fff;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 10px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.4s;

}
.btn_buy:hover{
	background-color: #fff;
	color: #000000; 
	border:none;
	text-decoration: none;
}
.btn_darks{
	position: absolute;
	top: 50%;
	left: 40%;
	display: inline-block;
	background-color: #f4511e;
	color: #fff;
	padding: 15px 30px;	
	font-size: 15px;
	text-decoration: none;
	justify-content: center;
	margin-top: 150px;
	letter-spacing: 2px;
	transition: all 0.4s;
	text-transform: uppercase;
	border-radius: 27px;

}
.btn_darks:hover{
	background-color: transparent;
	color: #f4511e; 
	text-decoration: none;
	border: 1px solid #f4511e; 
	border-radius: 27px;
}
.lh{
	display: flex;
	justify-content: center;
}	
/*about*/
body{
	margin: 0;
	font-family: "Times New Roman", Times, serif;

}
*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
/*font-family: 'Roboto', sans-serif;*/

}
html{
	scroll-behavior: smooth;
}
/*#sub-frame-error {
    
    background-color: #ddd;  
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: background-color .2s ease-in-out;
    width: 100%;
}*/
/*navbar*/

.h4_text {
    color: #000;
    
    float: left;
    margin-top: 10px;
}
.social-icon ul{
 	display: flex; 
	justify-content: center;
	padding: 0px;
	margin-left: 0px;
    list-style-type: none;
    color: #fff;
 }
 .social-icon ul li{
	display: inline-block;
	margin-left: 10px;

}
.form-icon ul{
 	display: flex; 
	padding: 0px;
	margin-left: 0px;
    list-style-type: none;
    color: #ffb606;
 }

 .form-icon ul li{
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;

}
/*.navbar {
     margin: 0px;
   padding: 0px;
 }
 
.navbar ul {

	width: 100%;
     display: flex; 
	justify-content: center;
	padding: 0px;
	margin: 0px;
    list-style-type: none;
    background-color:#fff;

}
.navbar ul li{
	display: inline-block;

}

.navbar ul li a {

  display: block;
  text-decoration: none;
  color:#262626 ;
  padding: 25px 20px;
  text-transform: uppercase;
  font-size: 17px;
letter-spacing: 2px
font-weight:bold;

}
*/
.navbar ul li  a:hover{
 
 	 
    cursor: pointer;
    color: #f4511e !important;

}
.nabar ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	display: flex;	

}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
}
.navbar ul li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	margin:10px;
	text-decoration: none; 
}
/*special effect of navbar*/
/*.navbar ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	transform: scaleY(2);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}

.navbar ul li a:hover{
color: #000;
}
.navbar ul li a:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transform: scale(0);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}
.navbar ul li a:hover :after{
transform: scale(1);
*/
/*.navbar ul li a :hover :before{
transform: scaleY(1);
opacity: 1;

}*/

/*end of special effect of navbar*/
#navbarSupportedContent ul li a{
	margin-left: 20px;
}
#navbarSupportedContent ul li a.active{
	color: #ffb606;
	cursor: pointer;

}


/*h1:hover,h2:hover{
	transform: scale(1.1,1.1);
    cursor: pointer;
}*/
/*hero section*/
.hero_section{
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/header.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero_text{
	color: #fff;
	text-align: center;

}
h1,h4,h5{
	margin: 0;
}
.hero_text h1{
	font-size: 50px;
	font-weight: 500;
}
.hero_text p{
	letter-spacing: 5px;
	text-transform: uppercase;

}
.btn_dark{
	display: inline-block;
	background-color: #ffb606;
	color: #fff;
	padding: 15px 30px;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.5s ease-in-out;
	border-radius: 27px;

}
.btn_dark:hover{
	background-color: #fff;
	color: #000000; 
	border:none;
	border-radius: 27px;
	text-decoration: none;
	/*transition: all 0.5s ease-in-out;*/
}
.btn_lights{
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 15px 30px;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.5s ease-in-out;
	border-radius: 27px;

}
.btn_lights:hover{
	background-color: #fff;
	color: #000; 
	text-decoration: none;
	border-radius: 27px;
}

.margin_top{
	margin-top:  15px;
}

/*recipe section*/
.recipe_section{
	padding:70px 0; 
}
.img_wrapper{
	position: relative;	 
	width:100%;
	height: 100%;
	background-color:red;
	overflow: hidden; 
	border-radius: 2px; 

}
.img_wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
	transition: all 0.4s;


}
.img_wrapper:hover img{
	transform: scale(1.2,1.2);
		cursor: pointer;

}
.img_wrapper{

	background-color: #000;
	color: #fff;

}
.img_wrapper-text{
	width: 100%;
    padding: 10px 15px;
    max-height: 150px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color:rgba(0,0,0,0.7);
	color: #fff;

}
.img_wrapper-text h5{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.img_wrapper-text h5 p{
line-height:22px; 
}
/*about section*/
.about_section{
	background-color:  #ffc233; 
	padding: 50px 0;
	color: #fff;
}
.image_responsive{
	width: 100%;
	max-width: 100%;
	height: auto;

}
.about_section h4{
	font-size: 28px;
	font-weight: 500;
}
.about_section p{
	line-height: 26px;
	font-weight: 100;
}
.image_background{
	position: relative;
	z-index: 1;
}

/*.image_background:hover{
	transform: scale(0.9,0.9);
		cursor: pointer;
		border-radius: 5px;
}*/
.image_background::before{
	position: absolute;
	top: -23px;
	left: -23px;
	content: "";
	width: 100%;	
	height: 100%;
	z-index: -1;
	background-color: #000;

}

.image_background img {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
}
/*extra section*/

.extra_section{
	 padding: 70px 0;
}
.bg_dark{
	background-color:  #0d0d0d;
}
.text_light{
	color: #fff;
}
.extra_section{
	font-weight: 500;
	font-size:16px;
}
.btn_light{
	display: inline-block;
	background-color: #f4511e;
	color: #fff !important;
	padding: 12px 15px;
	/*border-radius: 12px;*/
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.4s;

}

.btn_light:hover{
	background-color: #fff;
	color: #000 !important; 
	text-decoration: none;	
}
.text_light p{
	text-transform: capitalize;	
}
/*subscribe_section*/
.subscribe_section{
	padding: 30px 0;
	background-color: #212121;
	color: #fff;  
}
.subscribe_section form{
	display: flex;
}
.subscribe_section button{
	background-color: #f4511e;
	border:none;
	color:#fff;
	padding: 10px 20px;
}
.col-md-8 p{
	text-transform: capitalize;
}
/*category section*/
.category_sectiom{
padding: 70px 0;	
}
.img_wrapper-texts{
	width: 100%;
	padding: -25px 15px;
    max-height: 150px;
	position: absolute;

	bottom: 0px;
	text-align: center;
	background-color:rgba(0,0,0,0.7);
	color: #fff;

}
.img_wrapper-texts h5{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.img_wrapper-texts p {
line-height:22px; 
}
