

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}




.imagebox {
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f5f7f9;
    font-family: Open Sans, sans-serif;
}
img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
#postedcard{
    width: 30%;
    float: left;
    margin: 50px 20px;
    background-color: #fff;
    padding: 15px;

    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.box{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.box h4 {
   
	margin: 10 auto 10 auto;
}
.box p{
    font-size: 15px;
    line-height: 28px;
    height : 90px;
    overflow: hidden;
}
.box img{
	height: 40vh;
}
.box a{
    display: inline-block;
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 15px auto 0 auto;
   
}
.box a:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.box.showContent p{
    height: auto;
}
.box.showContent a.readmore-btn {
    background-color: red;
	margin:0 auto 0 auto;   
}

.card-container{
	width:100%;
	min-height: 100vh;
	overflow: scroll;
	height: auto;
	background-color: #f2f2f2;
}